.mainTouch{
    background-color: #161616ce;
    width: 100%;
    height: 45rem;
}

.maincontainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.maincontainer .firsttouch{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

.maincontainer .firsttouch .lefttouch{
    padding: 100px 0 0 0;
}

.maincontainer .firsttouch .lefttouch p i{
    color: #FFE998;
    font-size: 20px;
}

.maincontainer .firsttouch .lefttouch p{
    font-size: 19px;
}

.maincontainer .firsttouch .lefttouch span{
    color: #FFE998;
}


.maincontainer .secondtouch{
    margin-top: 100px;
    height: 147px;
    background-color: #DAA74E;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .maincontainer {
        width: 80%; 
    }
    
    .maincontainer .firsttouch {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .maincontainer .firsttouch .lefttouch {
        padding: 0 0 20px 0; /* Adjust the top padding */
    }

    .maincontainer .firsttouch .righttouch img{
        width: 100%;
        height: auto;
        margin: auto;
    }

    .maincontainer .secondtouch {
        margin-top: 50px; 
        height: auto; 
        flex-direction: column;
    }
}

/* @media only screen and (max-width: 768px) {
    .maincontainer {
        width: 80%; 
    }
    
    .maincontainer .firsttouch {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .maincontainer .firsttouch .lefttouch {
        padding: 10px 0; 
    }

    .maincontainer .firsttouch .righttouch img{
        width: 100%;
        height: auto;
        margin: auto;
    }

    .maincontainer .secondtouch {
        margin-top: 50px; 
        height: auto; 
        flex-direction: column;
    }
} */
