.footercontainer {
    background-image: url(../../../Images/second_back.jpg);
    width: 100%;
    height: 25rem;
}

.mainfooter {
    width: 80%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    padding-top: 150px;
    cursor: pointer;
}

.mainfooter .informationfooter p{
    color: white;
    padding: 10px;
}

.mainfooter .menufooter p{
    color: white;
    padding: 10px;
}

.mainfooter .usefullinkfooter p{
    color: white;
    padding: 10px;
 }

 .mainfooter .follousfooter i{
    color: white;
    padding: 10px;
 }

.mainfooter .menufooter h2{
    padding-left: 10px;
}

.mainfooter .usefullinkfooter h2{
    padding-left: 10px;
}

.mainfooter .follousfooter h2{
    padding-left: 5px;
}


@media only screen and (max-width: 768px) {
    .footercontainer {
        height: 90rem; 
    }

    .mainfooter {
        flex-direction: column; 
        align-items: center; 
        padding-top: 850px; 
    }

    .mainfooter .informationfooter p,
    .mainfooter .menufooter p,
    .mainfooter .usefullinkfooter p,
    .mainfooter .follousfooter i {
        padding: 5px; 
    }

    .mainfooter .menufooter h2,
    .mainfooter .usefullinkfooter h2,
    .mainfooter .follousfooter h2 {
        padding-left: 0; 
        text-align: center; 
    }
}
