/* navbar.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainnav {
  background-image: url('../Images/background.jpg');
  width: 100%;
  height: auto;
}

/* style to navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: 90%;
    margin: auto;
    cursor: pointer;
  }
  
  /* style to logo */
  .logo {
    width: 18.813rem;
    height: 5.375rem;
    cursor: pointer;
  }
  
  .right-navlink {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 65%;
  }
  
  .right-navlink .nav-links {
    list-style: none;
  }
  
  .company,
  .investor,
  .journal,
  .products,
  .reachus {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 780px) {
    .mainnav{
      width: 100%;
      margin: auto;
    }
  
    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
        width: 15px;
        height: 45px;
    }
  
    .right-navlink {
        display: none;
    }
  
  
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgba(107, 98, 98, 0.103);
        left: 0px;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }
  
    .nav-links-mobile {
        display: block;
    }
  
    .company:hover,
    .investor:hover,
    .journal:hover,
    .products:hover,
    .reachus:hover {
        list-style: none;
        border-top: none;
        transition: none;
    }
  
  
    .company,
    .investor,
    .journal,
    .products,
    .reachus {
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        list-style: none;
    }
  
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: rgb(34, 28, 17);
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
        transition: all 10s ease;
    }
  }
  
