.Investcontainer{
    background-image: url('../../../Images/background.jpg');
    width: 100%;
    height: 100%;
}
.backInvest{
    color: aliceblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    cursor: pointer;
}

.left-Investcontent{
    width: 75%;
    margin: auto;
}

.left-Investcontent p{
    font-size: 18px;

}
.right-Investcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 30px;
}

.right-Investcontent .box-1,.box-2,.box-3{
    width: 300px;
    height: 300px;
    border-bottom: 1px solid #EDBF6F;
    border-radius: 10px;
    align-items: center;
    text-align: inherit;
    padding-top: 75px;
    padding-left: 35px;
    background-color: #1A1A1A;
    margin: 10px;
    line-height: 28px;
}

.right-Investcontent, .box-1,.box-2,.box-3, h4{
    color: #EDBF6F;
    overflow: hidden;
}

.box-1,.box-2,.box-3, p{
    color: #7D7D7D;
    
}

.left-Investcontent span{
    color: #EDBF6F;
}


/* For smaller devices (phones) */
@media only screen and (max-width: 600px) {
    .Investcontainer {
      height: auto; 
    }
  
    .backInvest {
      padding-top: 350px;
    }
  
    .left-Investcontent, .right-Investcontent {
      width: 90%;
    }
  
    .left-Investcontent p {
      font-size: 16px;
    }
  
    .right-Investcontent {
      flex-direction: column;
      align-items: center;
    }
  
    .right-Investcontent .box-1, .right-Investcontent .box-2, .right-Investcontent .box-3 {
      width: 90%;
      margin-top: 20px;
    }
  }
  
  /* For medium devices (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .left-Investcontent, .right-Investcontent {
      width: 80%;
    }
  
    .left-Investcontent p {
      font-size: 17px;
    }
  
    .right-Investcontent .box-1, .right-Investcontent .box-2, .right-Investcontent .box-3 {
      width: 250px;
    }
  }
  
  /* For larger devices (desktops) */
  @media only screen and (min-width: 1025px) {
    .left-Investcontent, .right-Investcontent {
      width: 75%;
    }
  
    .left-Investcontent p {
      font-size: 18px;
    }
  
    .right-Investcontent .box-1, .right-Investcontent .box-2, .right-Investcontent .box-3 {
      width: 300px;
    }
  }
  